h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

.container {
  max-width: 700px;
  max-height: 700px;
  display: flex;
}

.cowbody {
  position: absolute;
  z-index: -1;
}

body {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 730px) { 
  img {
    max-width: 97vw;
  }
}