h1 {
  color: white;
}

h2 {
  color: white;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 730px) { 
  img {
    max-width: 97vw;
  }
}